@model IEnumerable<Pollyana.Models.Poll>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isOpen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isOpen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PollID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PollID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PollID })
        </td>
    </tr>
}

</table>
